.bleue_c
{
    position: relative;
    background-color: cyan;
    width: 400px;
    height: 400px;
    padding: 30px;
    z-index: 2;
}

.vert
{
    position: relative;
    background-color: green;
    width: 150px;
    height: 150px;
    z-index: 3;
}

.bleue
{
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: blue;
    width: 150px;
    height: 150px;
    z-index: 4;
}

.orange
{
    position: relative;
    left: 155px;
    background-color: orange;
    width: 150px;
    height: 150px;
    z-index:1;
    
}

.jaune
{
    position: absolute;
    bottom : 90px;
    right: 90px;
    background-color: yellow;
    width: 150px;
    height: 150px;
    z-index: 0;
}