body{
    min-height: 320px;
}
@media screen and (max-width: 768px){
    body{
        grid-template-areas: 
        "head"
        "T1"
        "T2"
        "T3"
        "T4"
        "T5"
        "T6"
        "T7"
        "T8";
    }
    /* ===================== header under 768 ================= */
    header{
        height: 20%;
    }
    header h1{
        font-size: 30px;
    }
    #header_right{
        margin-top: -20px;
        padding-left: 5px;
        font-size: 12px;
    }
    .temp_header{
        display: inline-block;
        position: relative;
        bottom: 30px;
        font-size: 20px;
        margin-left: 6px;
    }
    header img{
        display: inline-block;
        width: 20vw;
    }
    #header_left{
        position: relative;
        bottom: 30px;
        display: inline-block;
        padding-left: 60%; 
        margin-top: -50%;
        font-size: 14px;
        margin-bottom: -190px;
    }

    /* ===================== body under 768 ================= */
    .day{
        display: inline-block;
        position: relative;
        bottom: 3vh;
    }
    section img{
        float right;
        display: inline-block;
        width: 20vw;
        position: relative;
        top: 1vh;
        padding-left: 20px;
    }
    section{
        width: 100%;
        border-bottom: 1px solid black;
    }
    .temp{
        display: inline-block;
        position: relative;
        bottom: 2vh;
        padding-left: 20px;
    }
    .pollen{
        display: inline-block;
        position: relative;
        bottom: 3vh;
        padding-left: 30px;
    }
}
@media screen and (min-width: 480px){
    #header_left{
        padding-left: 40vw;
        font-size: 18px;
    }
    .day{
        bottom: 5vh;
    }
    .temp{
        padding-left: 15vw;
        bottom: 5vh;
    }
    .pollen{
        padding-left: 15vw;
        bottom: 5vh;
    }
    section img{
        padding-left: 12vw;
    }
}
    .T1{
        border-top: 1px solid black; 
    }

    header{
        grid-area: head;
    }
    .T1{
        grid-area: T1;
    }
    .T2{
        grid-area: T2;
    }
    .T3{
        grid-area: T3;
    }
    .T4{
        grid-area: T4;
    }
    .T5{
        grid-area: T5;
    }
    .T6{
        grid-area: T6;
    }
    .T7{
        grid-area: T7;
    }
    .T8{
        grid-area: T8;
    }

