.contain
{
	display: inline-block;
	padding: 450px;
	background-color: pink;
}
.square{
	height: 120px;
	width: 120px;
    display: inline-block;
    animation-name: vogue;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.S1{
    background: red;
}
.S2{
    background: yellow;
}
.S3{
    background: green;
}
.S4{
    background: blue;
}
.S5{
    background: purple;
}
.S6{
    background: black;
}

@keyframes vogue{
    0% {
        left: 10px;
      }
      50% {
        left: 400px;
      }
      100% {
        left: 10px;
      }
}