.contain
{
	display: inline-block;
    padding: 450px;
    width:700px;
	background-color: pink;
}
.square{
	height: 60px;
    width: 60px;
    float: left;
    display: block;
    position: relative;
    animation-duration: 3s;

}
.S1{
    background: red;
    animation: rotate 7s 6s linear infinite both;

}
.S2{
    background: yellow;
    animation: rotate 7s 5s linear infinite both;
}
.S3{
    background: green;
    animation: rotate 7s 4s linear infinite both;
}
.S4{
    background: blue;
    animation: rotate 7s 3s linear infinite both;
}
.S5{
    background: purple;
    animation: rotate 7s 2s linear infinite both;
}
.S6{
    background: black;
    animation: rotate 7s 1s linear infinite both;
}

@keyframes rotate {
    0%   {left:-420px; top: -300px; transform : rotate(360deg);}
    25%   {left:700px; top: -300px;}
    50%   {left:700px; top:440px;}
    75%   {left:-420px; top:440px; }
   100%   {left:-420px ;top: -300px;}
 }
 
 
 