.contain
{
	height: 250px;
	width: 45px;
    border: 2px solid green;
}

.bounce
{
	height: 40px;
	width: 40px;
	background-color: green;
	border-radius: 50px;
	position: relative;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, 1);
    animation-iteration-count: infinite;
}
@keyframes bounce
{
	0%
	{
		top: 0px;
	}

    90%{
        top: 170px;
    }
    90%{
        top: 190px;
    }
	100%
	{
		top: 210px;
	}
}
